<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!--此密钥适用于资源组“Default-ApplicationInsights-CentralUS”中的 Application Insights 资源“MoePic”-->
  <InstrumentationKey>b24ce9e3-d2a7-4c84-a120-3891b73a9478</InstrumentationKey>
</ApplicationInsights>